$primaryColor: #4527a4;

.wp-block-b-blocks-custom-slider {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  // .bBlocksCustoSlider {

  // }
  .mySwiper {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
